* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-text {
  background-color: black;
  width: auto;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navAbove {
  color: #ede734;
  font-size: 8px;
  word-spacing: 0.05rem;
  letter-spacing: 0.05rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50px;
  background-color: #ffffff;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: 30px;
  background-color: #ffffff;
}
img {
  width: 20px;
  height: auto;
}
