* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-img {
  background-image: url("../../assets/photo/Cover Image.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
