.hero-container {
  width: 100%;
  max-width: 1200px;
  height: 420px;
  margin: 40px auto;
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  background: #1f1c1d;
}

.hero-left {
  position: relative;
  background-image: url("../../assets/photo/Girl Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 100%;
}

.hero-image {
  background-image: url("../../assets/photo/Girl Image.png");
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.hero-overlay {
  position: absolute;
  top: 40px;
  left: 215px;
  z-index: 2;
}

.hero-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
}

.hero-overlay span {
  color: #e6d23d;
}

.hero-right {
  width: 65%;
  background: #1f1c1d;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
}

.discount {
  font-size: 1.5rem;
  font-weight: 700;
  color: #d7cb4a;
  margin-bottom: 20px;
}

.discount span {
  color: #fff;
  font-weight: 400;
}

.description {
  font-size: 1.3rem;
  color: #ddd;
  line-height: 1.7;
  margin-bottom: 60px;
}

.description span {
  color: #d7cb4a;
  font-weight: 600;
}

.hero-buttons {
  display: flex;
  gap: 40px;
}

.hero-buttons button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.hero-buttons button span {
  font-size: 2rem;
}

.hero-buttons button:hover {
  color: #d7cb4a;
}

/* Responsive */

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    border-radius: 20px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left {
    height: 300px;
  }

  .hero-right {
    padding: 40px 25px;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }

  .discount,
  .description {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 20px;
  }
}
