* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-img {
  background-image: url("../../assets/photo/Cover Image.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.cover-overlay {
  left: 100px;
  top: 200px;
  position: absolute;
  font-size: 20px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.cover-desc {
  font-size: 15px;
  word-spacing: 0.1rem;
  color: aliceblue;
}
.hero-button {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.hero-button button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.hero-button button span {
  font-size: 2rem;
}

.hero-button button:hover {
  color: #d7cb4a;
}
